<ion-content [fullscreen]="true">
  <!-- Fab Button -->
  <div *ngIf="displayFab">
    <ion-fab slot="fixed" vertical="bottom" horizontal="start">
      <ion-fab-button (click)="showSideBar()" [color]="currentMode">
        <ion-icon name="chevron-forward-circle"></ion-icon>
      </ion-fab-button> 
    </ion-fab>
  </div>
  <!-- Sidebar -->
  <div class="sidebar" id="sidebar" [class.show]="displaySideBar">
    <div class="sidebar-content">
      <ion-card [color]="currentMode">
        <ion-card-header>
          <ion-card-title class="ion-text-center project-card-title">Project Proponent</ion-card-title>
        </ion-card-header>
    
        <ion-card-content *ngFor="let item of cardData.data">
          <div class="proponents-container" *ngFor="let proponents of item.proponents">
            <img class="proponents-logo-container" [src]="proponents.image" />
              <ion-text class="ion-align-self-center ion-padding-start">
                <p><strong class="project-funding-details-title">{{ proponents.name }}</strong></p>
              </ion-text>
          </div>
          
          <!-- Funding Info  -->
          <ion-text color="medium" class="card-footer">
            <p>Funded {{ item.progress }}%</p>
          </ion-text>
          <!-- Progress -->
          <div class="progress-container">
            <div class="progress-indicator" style.width="{{ item.progress }}%">
            </div>
          </div>
    
          <div class="ion-margin-vertical">
            <ion-text color="medium">
              <p> <strong class="project-funding-details-title">Raised:</strong> P{{ item.raised }}</p>
              <p> <strong class="project-funding-details-title">Goal:</strong> P{{ item.goal }}</p>
              <p> <strong class="project-funding-details-title">Due Date:</strong> {{ item.due_date }}</p>
            </ion-text>
          </div>
          
          <div class="card-footer">
            <button class="user-proj-btn"> Fund </button>
          </div>
        </ion-card-content>
      </ion-card>
  
      <ion-card [color]="currentMode">
        <ion-card-header>
          <ion-card-title class="ion-text-center">Contact Info</ion-card-title>
        </ion-card-header>
  
        <ion-card-content>
          <div class="contact-info-container">
            <a href="https://facebook.com">
              <img src="/assets/app-icons/facebook-logo.svg" alt="facebook-logo">
            </a>
            <a href="">
              <img src="/assets/app-icons/twitter-logo.svg" alt="twitter-logo">
            </a>
            <a href="">
              <img src="/assets/app-icons/discord-logo.svg" alt="discord-logo">
            </a>
          </div>
        </ion-card-content>
        
      </ion-card>
      <ion-card [color]="currentMode">
        <ion-card-header>
          <ion-card-title class="ion-text-center">Auxiliator</ion-card-title>
        </ion-card-header>
  
        <ion-card-content>
          Sed tincidunt diam a massa pharetra faucibus. Praesent condimentum
          id arcu nec fringilla. Maecenas faucibus, ante et venenatis
          interdum, erat mi eleifend dui, at convallis nisl est nec arcu. Duis
          vitae arcu rhoncus, faucibus magna ut, tempus metus. Cras in nibh
          sed ipsum consequat rhoncus. Proin fringilla nulla ut augue tempor
          fermentum. Nunc hendrerit non nisi vitae finibus. Donec eget ornare
          libero. Aliquam auctor erat enim, a semper risus semper at. In ut
          dui in metus tincidunt euismod eget et lacus. Aenean et dictum urna,
          sed rhoncus lorem. Duis pharetra sagittis odio. Etiam a libero ut
          nisi feugiat tincidunt vel vitae turpis. Maecenas vel orci sit amet
          lorem hendrerit venenatis sollicitudin ut dui. Quisque rhoncus nibh
          in massa pretium scelerisque.
        </ion-card-content>
        
      </ion-card>
    </div>
  </div>
  <!-- Content -->
  <div class="content" id="content">
    <ion-grid fixed>
      <ion-row>
        <ion-col size="12">
          <ion-card class="main-content-card" [color]="currentMode" *ngFor="let item of cardData.data">
            <ion-card-header class="ion-text-end">
              <ion-card-title class="project-card-title">{{ item.project_name }}</ion-card-title>
              <div class="department-info-container">
                <ion-card-subtitle>{{ item.department_name }}</ion-card-subtitle>
                <img alt="department-logo" src="/assets/app-icons/cics-logo.svg">
              </div>
            </ion-card-header>
            <ion-card-content> {{ item.project_description }} </ion-card-content>
            
            <!-- Slider main container -->
            <div class="slider">
              <ion-card class="project-update-card" [color]="currentMode" *ngFor="let projectUpdate of item.project_updates">
                <div class="image-container" [style.background-image]="'url('+ projectUpdate.project_update_image +')'"></div>
                
                <ion-card-content class="project-updates-card-content">
                  <ion-card-header>
                    <ion-card-title>{{ projectUpdate.project_update_title }}</ion-card-title>
                    <ion-card-subtitle>{{ projectUpdate.date}}</ion-card-subtitle>
                  </ion-card-header>
                  {{ projectUpdate.update_description }}
                </ion-card-content>
              </ion-card>
            </div>

            <!--background / methodology / other info -->
            <ion-card [color]="currentMode">
              <ion-card-header>
                <ion-card-title>Background</ion-card-title>
              </ion-card-header>
              <ion-card-content class="project-content-container">
                {{ item.background }}
              </ion-card-content>
            </ion-card>

            <ion-card [color]="currentMode">
              <ion-card-header>
                <ion-card-title>Methodology</ion-card-title>
              </ion-card-header>
              <ion-card-content class="project-content-container">
                {{ item.methodology }}
              </ion-card-content>
            </ion-card>

            <ion-card [color]="currentMode">
              <ion-card-header>
                <ion-card-title>Other Info</ion-card-title>
              </ion-card-header>
              <ion-card-content class="project-content-container">
                {{ item.other_info }}
              </ion-card-content>
            </ion-card>

            <!-- <ion-card-content>
              <ion-item>
                <ion-title>Background</ion-title>
                <ion-textarea placeholder="Enter more information here..."></ion-textarea>
              </ion-item>
              <ion-item>
                <ion-title>Methodology</ion-title>
                <ion-textarea placeholder="Enter more information here..."></ion-textarea>
              </ion-item>
              <ion-item>
                <ion-title>Other Info</ion-title>
                <ion-textarea placeholder="Enter more information here..."></ion-textarea>
              </ion-item>
            </ion-card-content> -->
          </ion-card>
        </ion-col>
  
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
