<ion-content [fullscreen]="true">
  <div class="sidebar">
    <div class="sidebar-content">
      <ion-card [color]="currentMode">
        <ion-card-header>
          <ion-card-title class="ion-text-center project-card-title">Project Proponent</ion-card-title>
        </ion-card-header>
    
        <ion-card-content>
          <!-- MUST BE DYNAMIC, LIKE PUT PROPONENT'S NAME AND IMAGE IN THE JSON FILE TO BE ACCESSED AND RENDERED -->
          <div class="proponents-container">
            <img class="proponents-logo-container" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
              <ion-text class="ion-align-self-center ion-padding-start">
                <p><strong class="project-funding-details-title">John Michael Ramirez</strong></p>
              </ion-text>
          </div>
    
          <!-- Funding Info  -->
          <ion-text color="medium" class="card-footer">
            <p>Funded {{progress}}%</p>
          </ion-text>
          <!-- Progress -->
          <div class="progress-container">
            <div class="progress-indicator" style.width="{{progress}}%">
            </div>
          </div>
    
          <div class="ion-margin-vertical">
            <ion-text color="medium">
              <p> <strong class="project-funding-details-title">Raised:</strong> P1280</p>
              <p> <strong class="project-funding-details-title">Goal:</strong> P2000</p>
              <p> <strong class="project-funding-details-title">Due Date:</strong> 11/20/2021</p>
            </ion-text>
          </div>
          
          <div class="card-footer">
            <ion-button color="success" shape="round">
              Fund
            </ion-button>
          </div>
        </ion-card-content>
    
      </ion-card>
  
      <ion-card [color]="currentMode">
        <ion-card-header>
          <ion-card-title class="ion-text-center">Contact Info</ion-card-title>
        </ion-card-header>
  
        <ion-card-content>
          <div class="contact-info-container">
            <a href="https://facebook.com">
              <img src="/assets/app-icons/facebook-logo.svg" alt="facebook-logo">
            </a>
            <a href="">
              <img src="/assets/app-icons/twitter-logo.svg" alt="twitter-logo">
            </a>
            <a href="">
              <img src="/assets/app-icons/discord-logo.svg" alt="discord-logo">
            </a>
          </div>
        </ion-card-content>
        
      </ion-card>
      <ion-card [color]="currentMode">
        <ion-card-header>
          <ion-card-title class="ion-text-center">Auxiliator</ion-card-title>
        </ion-card-header>
  
        <ion-card-content>
          Sed tincidunt diam a massa pharetra faucibus. Praesent condimentum
          id arcu nec fringilla. Maecenas faucibus, ante et venenatis
          interdum, erat mi eleifend dui, at convallis nisl est nec arcu. Duis
          vitae arcu rhoncus, faucibus magna ut, tempus metus. Cras in nibh
          sed ipsum consequat rhoncus. Proin fringilla nulla ut augue tempor
          fermentum. Nunc hendrerit non nisi vitae finibus. Donec eget ornare
          libero. Aliquam auctor erat enim, a semper risus semper at. In ut
          dui in metus tincidunt euismod eget et lacus. Aenean et dictum urna,
          sed rhoncus lorem. Duis pharetra sagittis odio. Etiam a libero ut
          nisi feugiat tincidunt vel vitae turpis. Maecenas vel orci sit amet
          lorem hendrerit venenatis sollicitudin ut dui. Quisque rhoncus nibh
          in massa pretium scelerisque.
        </ion-card-content>
        
      </ion-card>
    </div>
  </div>
  
  <div class="content">
    <ion-grid fixed>
      <ion-row>
        <ion-col size="12">
          <ion-card [color]="currentMode">
            <ion-card-header class="ion-text-end">
              <ion-card-title class="project-card-title">Project Name</ion-card-title>

              <div class="department-info-container">
                <ion-card-subtitle>Department Name</ion-card-subtitle>
                <img alt="department-logo" src="/assets/app-icons/cics-logo.svg">
              </div>
            </ion-card-header>
            
            <ion-card-content>
              Sed tincidunt diam a massa pharetra faucibus. Praesent condimentum
              id arcu nec fringilla. Maecenas faucibus, ante et venenatis
              interdum, erat mi eleifend dui, at convallis nisl est nec arcu. Duis
              vitae arcu rhoncus, faucibus magna ut, tempus metus. Cras in nibh
              sed ipsum consequat rhoncus. Proin fringilla nulla ut augue tempor
              fermentum. Nunc hendrerit non nisi vitae finibus. Donec eget ornare
              libero. Aliquam auctor erat enim, a semper risus semper at. In ut
              dui in metus tincidunt euismod eget et lacus. Aenean et dictum urna,
              sed rhoncus lorem. Duis pharetra sagittis odio. Etiam a libero ut
              nisi feugiat tincidunt vel vitae turpis. Maecenas vel orci sit amet
              lorem hendrerit venenatis sollicitudin ut dui. Quisque rhoncus nibh
              in massa pretium scelerisque.
            </ion-card-content>
    
            <!-- Swiper main container -->
            <div class="swiper-container cardSwiper">
              <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide" *ngFor="let item of cardData.data[1]">
                  <!-- Card Inside -->
                  <ion-card class="project-update-card" [color]="currentMode">
                    <div class="image-container" [style.background-image]="'url('+ item.image +')'"></div>
                    
                    
                    <ion-card-content class="project-updates-card-content">
                      <ion-card-header>
                        <ion-card-title>Project Updates</ion-card-title>
                        <ion-card-subtitle>Dec 09, 2021</ion-card-subtitle>
            
                        <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
                      </ion-card-header>
                      
                      {{ item.description }}
                    </ion-card-content>
                  </ion-card>
                </div>
              </div>
              <!-- <div class="swiper-scrollbar"></div> -->
              
              <!-- If we need pagination -->
              <!-- <div class="swiper-pagination"></div> -->
    
              <!-- If we need navigation buttons -->
              <!-- <div class="swiper-button-prev"></div>
              <div class="swiper-button-next"></div> -->
            </div>
    
            <!-- Flexible container (row) -->
            <div class="flex flex-row">
              <ion-card-content>
                <ion-item>
                  <ion-title>Background</ion-title>
                  <ion-textarea placeholder="Enter more information here..."></ion-textarea>
                </ion-item>
                <ion-item>
                  <ion-title>Methodology</ion-title>
                  <ion-textarea placeholder="Enter more information here..."></ion-textarea>
                </ion-item>
                <ion-item>
                  <ion-title>Other Info</ion-title>
                  <ion-textarea placeholder="Enter more information here..."></ion-textarea>
                </ion-item>
              </ion-card-content>
            </div>
          </ion-card>
        </ion-col>
  
      </ion-row>
    </ion-grid>
  </div>
  
  <!-- Fix this for each shit. no need for that it just introduces redundancy -->
  <!-- <div *ngFor="let item of cardData.data">
  
    <img [alt]="item.id" [src]="item.image">
    <ion-title>{{item.title}}</ion-title>
    <ion-text color="primary">
      <h1>{{item.description}}</h1>
    </ion-text>
  </div> -->
</ion-content>
