.sidebar {
  position: fixed;
  top: 150px;
  left: 0;
  width: 250px;
  height: 100vh;
  z-index: 0;
  transition: left 0.3s ease;
  .sidebar-content {
    height: 100%;
    overflow-y: auto;
  }
}

.content {
  margin-left: 260px;
  transition: margin-left 0.3s ease;
}

ion-grid {
  width: 100%;

  ion-row {
    display: flex;
    justify-content: space-between;
    // position: absolute;
    // top: 150px;
    margin-top: 130px;
    ion-col {
      max-width: 100%;
    }
  }
}
ion-card-title.project-card-title {
  font-weight: 900;
}

.main-content-card {
  box-shadow: none !important;
  border: none !important;
}

.proponents-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 1rem;
  .proponents-logo-container {
    width: 3rem;
    height: auto;
    border-radius: 4rem;
  }
}
.contact-info-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  img {
    width: 100%;
    height: auto;
  }
}

p {
  font-size: 13px;
  .project-funding-details-title {
    font-weight: bolder;
  }
}

.card-footer {
  display: flex;
  justify-content: flex-end;
}

.department-info-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  img {
    width: 4%;
    margin-left: 1rem;
  }
}
.slider {
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
  // display: flex;
  // align-items: center;
  // justify-content: flex-start;

  .project-update-card {
    display: inline-block;
    width: 30%;
    height: auto;
    margin: 15px 30px;
    // transition: transform 0.3s ease;
    .project-updates-card-content {
      height: 100px;
      overflow-y: auto;
      overflow-x: hidden;
    }
  }
}
.project-content-container {
  height: 200px;
  overflow-y: auto;
}

.user-proj-btn {
  margin: 0 5px;
  background-color: rgb(102, 153, 153);
  border-radius: 8px;
  padding: 10px 25px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
}
.user-proj-btn:hover {
  background-color: rgb(97, 145, 145);
}

/* WebKit-based browsers */

// Slider
.slider::-webkit-scrollbar {
  width: 6px;
  height: 8px;
}

.slider::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 3px;
}

.slider::-webkit-scrollbar-thumb:hover {
  background-color: rgb(155, 155, 155);
}

// Sidebar
.sidebar-content::-webkit-scrollbar {
  width: 8px;
}

.sidebar-content::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 3px;
}

.sidebar-content::-webkit-scrollbar-thumb:hover {
  background-color: rgb(155, 155, 155);
}

// Project Updates Card Content
.project-updates-card-content::-webkit-scrollbar {
  width: 6px;
}
.project-updates-card-content::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 3px;
}
.project-updates-card-content::-webkit-scrollbar-thumb:hover {
  background-color: rgb(155, 155, 155);
}
// Project Content Container
.project-content-container::-webkit-scrollbar {
  width: 8px;
}
.project-content-container::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 3px;
}
.project-content-container::-webkit-scrollbar-thumb:hover {
  background-color: rgb(155, 155, 155);
}

/* Firefox */

// Slider
.slider::-moz-scrollbar {
  width: 6px;
  height: 8px;
}

.slider::-moz-scrollbar-thumb {
  background-color: #888;
  border-radius: 3px;
}

.slider::-moz-scrollbar-thumb:hover {
  background-color: rgb(155, 155, 155);
}

// Sidebar
.sidebar-content::-moz-scrollbar {
  width: 6px;
}

.sidebar-content::-moz-scrollbar-thumb {
  background-color: #888;
  border-radius: 3px;
}

.sidebar-content::-moz-scrollbar-thumb:hover {
  background-color: rgb(155, 155, 155);
}

// Project Updates Card Content
.project-updates-card-content::-moz-scrollbar {
  width: 6px;
}
.project-updates-card-content::-moz-scrollbar-thumb {
  background-color: #888;
  border-radius: 3px;
}
.project-updates-card-content::-moz-scrollbar-thumb:hover {
  background-color: rgb(155, 155, 155);
}

// Project Content Container
.project-content-container::-moz-scrollbar {
  width: 8px;
}
.project-content-container::-moz-scrollbar-thumb {
  background-color: #888;
  border-radius: 3px;
}
.project-content-container::-moz-scrollbar-thumb:hover {
  background-color: rgb(155, 155, 155);
}

@media (max-width: 767px) {
  .sidebar {
    left: -250px;
    z-index: 1;
  }
  .content {
    margin-left: 0;
  }

  .slider {
    .project-updates-card-content {
      font-size: 14px;
      ion-card-title {
        font-size: 17px;
      }
      ion-card-subtitle {
        font-size: 12px;
      }
    }
  }
}

.sidebar.show {
  left: 0;
  z-index: 1;
}

@media (max-width: 576px) {
  .slider {
    .project-update-card {
      width: 60%;
    }
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .slider {
    .project-update-card {
      width: 55%;
    }
  }
}
