<ion-content>
  <div class="container">
    <div class="wrapper">
      <ion-label [class]="currentMode">
        Auxilium is a crowdfunding app that is integrated into a web-based system. It allows project creators to promote their ideas and raise funds for their projects, while also allowing users to discover and support projects that they find interesting. Project creators can use Auxilium to set financing targets, discuss project details, and acquire financial resources from a large audience. Users can explore projects, contribute financially, and track the progress of the projects they support. The integration of crowdfunding functionality in Auxilium empowers individuals and groups to seek support and bring their innovative ideas to life.
      </ion-label>
      <ion-img src="/assets/app-icons/box-logo.svg" class="logo-img aboutus-fab"></ion-img>
    </div>
  </div>
</ion-content>
