<ion-app>
  <!-- Side Menu (to only show if small screen) -->
  <ion-menu side="end" contentId="side-menu" swipe-gesture="false">
    <ion-header>
      <ion-toolbar [class]="currentMode">
        <ion-buttons slot="start" class="ion-margin-start">
          <a routerLink="/home">
            <ion-img
              src="/assets/app-icons/auxilium-logo.png"
              class="navbar-logo"
              alt="auxilium-logo"
            ></ion-img>
          </a>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <ion-content class="ion-padding" [class]="currentMode">     
      <!-- Side Menu Content -->
      <li class="side-menu-li">
        <a [ngClass]="['ion-padding', currentMode]" routerLink="/discover">Discover</a>
        
        <!-- if authenticated -->
        <a [ngClass]="['ion-padding', currentMode]" routerLink="/userproj" *ngIf="isAuthenticated">Your Project</a>
        <a [ngClass]="['ion-padding', currentMode]" routerLink="/createproj" *ngIf="isAuthenticated">Create</a>
        
        <a [ngClass]="['ion-padding', currentMode]" routerLink="/aboutus">About Us</a>

        <!-- Login Button -->
        <button class="login-btn" routerLink="/login" *ngIf="!isAuthenticated"> Login </button>
        <button class="login-btn user-container" (click)="logOut()" *ngIf="isAuthenticated">
          <ion-label>Anna</ion-label>
          <img class="student-logo" src="/assets/app-icons/student-girl-1.svg" alt="student-logo">
        </button>
      </li>

      <ion-buttons slot="end">

      </ion-buttons>
    </ion-content>
  </ion-menu>

  <ion-header class="ion-no-border">
    <ion-toolbar [class]="currentMode">
      <ion-buttons slot="start" class="ion-margin-start">
        <a routerLink="/home">
          <ion-img
            src="/assets/app-icons/auxilium-logo.png"
            class="navbar-logo"
            alt="auxilium-logo"
          ></ion-img>
        </a>
      </ion-buttons>
      
      <!-- if small screen -->
      <div class="ion-page" id="side-menu">
        <ion-toolbar [class]="currentMode">
          <ng-container *ngIf="isSmallScreen; else notSmallScreen">
            <ion-buttons slot="end">
              <!-- Change Theme Button -->
              <ion-button (click)="changeTheme()" expand="block" fill="clear" shape="round">
                <ion-icon [name]="currentIconName"></ion-icon>
              </ion-button>
  
              <ion-menu-button></ion-menu-button>
            </ion-buttons>
          </ng-container>
        </ion-toolbar>
      </div>

      <!-- if not small screen -->
      <ng-template #notSmallScreen>
        <ion-buttons class="ion-margin-end" slot="end">
          <li>
            <a [ngClass]="['ion-padding', currentMode]" routerLink="/discover">Discover</a>
            <!-- if authenticated -->
            <a [ngClass]="['ion-padding', currentMode]" routerLink="/userproj" *ngIf="isAuthenticated">Your Project</a>
            <a [ngClass]="['ion-padding', currentMode]" routerLink="/createproj" *ngIf="isAuthenticated">Create</a>            
            
            <a [ngClass]="['ion-padding', currentMode]" routerLink="/aboutus">About Us</a>
          </li>
  
          <!-- Change Theme Button -->
          <ion-button (click)="changeTheme()" expand="block" fill="clear" shape="round">
            <ion-icon [name]="currentIconName"></ion-icon>
          </ion-button>
  
          <!-- Login Button -->
          <button class="login-btn" routerLink="/login" *ngIf="!isAuthenticated"> Login </button>
          <button class="login-btn user-container" (click)="logOut()" *ngIf="isAuthenticated">
            <ion-label>Anna</ion-label>
            <img class="student-logo" src="/assets/app-icons/student-girl-1.svg" alt="student-logo">
          </button>
        </ion-buttons>
      </ng-template>
    </ion-toolbar>

    <!-- Sub Header -->
    <ion-toolbar class="sub-header" *ngIf="shouldDisplaySubHeader">
      <ion-title class="sub-header-title" color="light">{{ subHeaderText }}</ion-title>

      <!-- if small screen -->
      <ng-container *ngIf="isSmallScreen; else notSmallScreen">
        <ion-buttons slot="end">
          <!-- Search Button -->
          <ion-button (click)="searchProj($event)" expand="block" fill="clear" shape="round" color="light" *ngIf="shouldDisplaySearch">
            <ion-icon size="large" name="search-outline"></ion-icon>
          </ion-button>
          
        </ion-buttons>
      </ng-container>
      
      <!-- if not small screen -->
      <ng-template #notSmallScreen>
        <ion-buttons slot="end" class="ion-margin-end" *ngIf="shouldDisplaySearch">
          <input type="text" id="search-input" placeholder="Search a project" (keypress)="searchProj($event)">
          <button type="button" class="search-btn" (click)="searchProj($event)"> Search </button>
        </ion-buttons>
      </ng-template>
  
    </ion-toolbar>
  </ion-header>
  
  <ion-router-outlet [class]="currentMode"></ion-router-outlet>
</ion-app>