<!-- <ion-content style="--padding-top: var(--ion-safe-area-top);"> -->
<ion-content>
  <ng-container *ngIf="cardData; else loadingDisplay">
    <ion-grid>
      <ion-row>
        <ion-col size="12" size-sm="4" size-lg="3" *ngFor="let item of cardData.data">
          <ion-card [color]="currentMode" routerLink="{{ item.id }}">
            <div class="image-container" [style.background-image]="'url('+ item.image +')'"></div>
            <ion-card-header>
              <ion-card-title class="card-text">{{ item.title }}</ion-card-title>
            </ion-card-header>

            <ion-card-content>
              {{ item.description }}
            </ion-card-content>

            <div class="progress-container">
              <div class="progress-indicator" style.width="{{progress}}%">
                <!-- Progress -->
              </div>
            </div>

            <ion-text color="medium" class="project-funding-details">
              <p> <strong class="project-funding-details-title">Raised:</strong> P1280</p>
              <p> <strong class="project-funding-details-title">Goal:</strong> P2000</p>
              <p> <strong class="project-funding-details-title">Due Date:</strong> 11/20/2021</p>
            </ion-text>

          </ion-card>
        </ion-col>
  
      </ion-row>
    </ion-grid>
  </ng-container>
  
  <!-- Show loading display -->
  <ng-template #loadingDisplay>
    <ion-grid >
      <ion-row>
        <ion-col size="6">
          <ion-spinner name="crescent"></ion-spinner>
          <div>Loading...</div>

        </ion-col>
      </ion-row>
    </ion-grid>
  </ng-template>
</ion-content>