/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

// Page Theme
.dark {
  --ion-background-color: var(--ion-color-dark);
  color: var(--ion-color-dark-contrast);
}
.light {
  --ion-background-color: var(--ion-color-light);
  color: var(--ion-color-light-contrast);
}

li {
  list-style-type: none;
}
a {
  text-decoration: none;
}

ion-grid {
  margin: 0;
  padding: 0;
}

ion-content.main-page-content {
  position: relative;
  top: 65px;
}

ion-card {
  border-radius: 16px;
  padding-bottom: 20px;
  --box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3),
    0px 1px 3px 1px rgba(0, 0, 0, 0.15);
  .image-container {
    background-size: cover;
    min-height: 200px;
  }
}

ion-toolbar {
  box-shadow: 0 2px 4px rgba(77, 64, 64, 0.1);
}

ion-buttons {
  float: left;
}

// Progress Bar
.progress-container {
  position: relative;
  width: 100%;
  height: 1rem;
  background-color: #202027;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
  .progress-indicator {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    background-color: #669999;
  }
}

// Display Indicator (loader / text)
.display-indicator {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
ion-spinner {
  width: 50px;
  height: 50px;
  --color: #669999;
}

ion-fab-button {
  --background: none;
  --background-hover: #669999;
  --box-shadow: none;
  position: fixed;
  bottom: 20px;
  z-index: 9999;
}
