.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 15%;
  background-image: url("/assets/app-icons/circle-glow-effect.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.logo-img {
  height: 600px;
  width: 500px;
}

.card {
  height: 450px;
  width: 350px;
  font-size: 60px;
  letter-spacing: 4px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 15%;
  color: white;
}

.signup-btn {
  background-color: rgba(102, 153, 153, 1);
  color: white;
  border-radius: 5px;
  padding: 12px 35px;
  font-weight: 200;
  cursor: pointer;
  font-size: 15px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
}
.signup-btn:hover {
  background-color: rgb(97, 145, 145);
}

@media (max-width: 1000px) {
  .login-fab {
    display: none;
  }

  .card {
    text-align: center;
    align-items: center;
  }
}
